<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://kit.fontawesome.com/8cbe88f1c4.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="/static/giraffeicon.ico">
    <title>About</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>About</h1>
    <p>Welcome to the Gilbert website, a personal project developed about my beanie boo, Gilbert. This platform serves as a website for exciting things that I want to make, including silly webpages and gambling games, designed to provide users with an entertaining experience. It is important to note that all activities are purely fictional and meant for entertainment purposes only. Users can explore game mechanics, improve their strategic thinking, and enjoy a fun, risk-free environment without the concerns associated with real-money gambling. You can make an account easily without the need for any personal information to store your data and join the leaderboard! 
        Since this is a website developed to learn about web developement, there will be many bugs that I haven't found. For that reason, I will not share the source code because there may be vunerabilities that I need to fix. If you find any bugs, you can contact me!
    </p>
    <h1>Contact</h1>
    <ul class="contacts" style="padding-left: 5vw;">
        <li><i class='fab fa-discord' style="color: #5865F2;"></i> boowoof</li>
        <li><i class="fa-solid fa-envelope"></i> jamie@gilbertweb.site</li>
        <li><i class="fa-brands fa-github"></i> BluewolfJ124</li>
    </ul>
</body>
</html>