<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://kit.fontawesome.com/8cbe88f1c4.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="/static/giraffeicon.ico">
    <title>Assignments</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Assignments</h1>
    <form method="POST" action="/newassignment">
    <div class="container">
        <div class="form">
            <input class="add" id="name", name="name" placeholder="Create Assignment" required="" type="text">
            <span class="add-border"></span>
        </div>
        <input type="date" id="due" name="due" required="">
        <input type= "submit" value = "Create" class="button-2">
    </div> 
    </form>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <table class="styled-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Assignment</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td class="checkbox"><a href="/delete/{{ item[2] }}" >☐</td>
                        <td>{{ item[0] }}</td>
                        <td class="due">Due in {{ item[1] }} days</td>
                    </tr>
                {% endfor %}
                <tr >
                    <td class="full-span" colspan="3">Completed</td>
                </tr>
                {% for item in completed %}
                <tr>
                    <td class="checkbox" style="font-size: 40px;">✅</td>
                    <td colspan="2"><s>{{ item }}</s> <a href="">(delete)</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
    <script>
        const elementsWithClass = document.querySelectorAll('.due');
        elementsWithClass.forEach((element) => {
            days = element.textContent 
            days = days.slice(7,-5);
            if (parseInt(days) <= 0){
                element.style.color = 'red';
            } 
            else{
                element.style.color = 'green';
            }
            
        });
    </script>
</body>
</html>