<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/icon.ico">
    <title>Assignments</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Assignments</h1>

    <a class="button-2" href="/newassignment" style="width: 50%; display: block; margin: 0 auto;">Create Assignment</a>
    <br>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Assignment</th>
                    <th style="width:20%">Subject</th>
                    <th style="width: 20%;">Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td><a href="/edit/{{ item[0] }}">{{ item[1] }}</a></td>
                        <td> {{ item[2] }}</td>
                        <td class="due">Due in {{ item[3] }} days</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
<br>
    <script>
        const elementsWithClass = document.querySelectorAll('.due');
        elementsWithClass.forEach((element) => {
            days = element.textContent 
            days = days.slice(7,-5);
            if (parseInt(days) <= 2){
                element.style.color = 'red';
            } 
            else if(parseInt(days) <= 7){
                element.style.color = 'orange';
            }
            else{
                element.style.color = 'green';
            }
            
        });
    </script>
</body>
</html>