<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/giraffeicon.ico">
    <title>Assignment Tracker</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div style="margin: 0px 400px;">
        <h1>Assignment Tracker</h1>
        <div style="display: flex;">
            <div style="flex: 50%;">
                <p style="font-size: 40px;">The easiest way to stay organised with your assignments in school.</p>
                <br>
                <br>
                <button class="button-2">Sign up now</button>
            </div>
            <img src="static/image.png" style="text-align: right; margin-right: auto;">
        </div>
        <h1>About</h1>
        <p>
            Welcome to Assessment Tracker, a straightforward school project designed to help you stay organized and on top of all your academic assessments. With our user-friendly platform, you can easily keep track of due dates and monitor your progress across multiple assignments. 
            By creating an account, you gain access to a secure database where all your assessment data is safely stored, ensuring that you never miss a deadline again. Whether you're a student juggling various tasks or an educator managing assignments, Assessment Tracker provides the essential functionality you need to streamline your workflow and achieve your academic goals. 
            Start tracking your assessments today and take control of your learning journey with this simple yet effective tool!
        </p>
        <h1>Contact</h1>
        <ul>
            <li>jamie@gilbertweb.site</li>
            <li>BluewolfJ124</li>
        </ul>
        <br>
        <br>
    </div>
</body>
</html>