<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/style.css">
    <meta property="og:title" content="Gilbert Website" />

    <!-- Description that will appear in the embed -->
    <meta property="og:description" content="Gilbert's website is about the adorable pink giraffe with purple spots. To support gilbert, can gamble (fake) money. Compete against your friends on the leaderboard!" />
  
    <!-- URL to the website -->
    <meta property="og:url" content="https://gilbertweb.site/" /> 
  
    <!-- Type of content (can be 'website', 'article', 'video', etc.) -->
    <meta property="og:type" content="website" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/giraffeicon.ico">
    <script src="https://kit.fontawesome.com/8cbe88f1c4.js" crossorigin="anonymous"></script>
    <title>Gilbert Website</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="box">
        <h2 class="typewriter">Welcome to my website about Gilbert</h2>
    </div>
    <h1>What is gilbert?</h1>
    <p>Gilbert the Beanie Boo is a cute pink giraffe with purple spots. She is super soft to cuddle! 🐆🌈 Her birthday is August 23rd, loves to eat icecream. 💖✨ Here are some pictures of Gilbert:</p>
    <div class="gallery">
        <div class="card">
            <div class="card2">
                <img src="static/1.jpg" class="container-img">
            </div>
        </div>
        <div class="card">
            <div class="card2">
                <img src="static/2.jpg" class="container-img">
            </div>
        </div>
        <div class="card">
            <div class="card2">
                <img src="static/3.jpg" class="container-img">
            </div>
        </div>
        <div class="card">
            <div class="card2">
                <img src="static/4.jpg" class="container-img">
            </div>
        </div>
    </div>
    <h1>About</h1>
    <p>
        Welcome to Assessment Tracker, a straightforward school project designed to help you stay organized and on top of all your academic assessments. With our user-friendly platform, you can easily keep track of due dates and monitor your progress across multiple assignments. 
        By creating an account, you gain access to a secure database where all your assessment data is safely stored, ensuring that you never miss a deadline again. Whether you're a student juggling various tasks or an educator managing assignments, Assessment Tracker provides the essential functionality you need to streamline your workflow and achieve your academic goals. 
        Start tracking your assessments today and take control of your learning journey with this simple yet effective tool!
    </p>
    <h1>Contact</h1>
    <ul class="contacts" style="padding-left: 5vw;">
        <li><i class='fab fa-discord' style="color: #5865F2;"></i> boowoof</li>
        <li><i class="fa-solid fa-envelope"></i> jamie@gilbertweb.site</li>
        <li><i class="fa-brands fa-github"></i> BluewolfJ124</li>
    </ul>
    <br>
    <br>
    <div class="bottom"><p>you've reached the bottom</p></div>

</body>
</html>