<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/giraffeicon.ico">
    <title>Assignment Tracker</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="main-container">
        <h1 style="text-align: left;">Assignment Tracker</h1>
        <div style="display: flex;">
            <div style="flex: 50%;">
                <p style="font-size: 32px; padding-right: 10px;">The easiest way to stay organised with your assignments in school.</p>
                <br>
                <br>
                <a href="/create" type="button" class="button-2">Sign up now</a>
            </div>
            <img src="static/image.png" width="620" height="218">
        </div>
        <h1>About</h1>
        <p>
            Assignment Tracker is a simple Flask web app created as a school project. It allows users to create an account, manage their assignments, and track due dates and progress. The application provides a straightforward interface for students to organize and monitor their tasks in one place.
            The primary goal of this project is to provide a simple, intuitive tool for students to track their assignments.  The project is built as a learning exercise in web development with Flask, with a focus on database handling. The website is open source and avaliable on <a href="https://github.com/BluewolfJ124/Assignment-Tracker"><u>github</u></a>.
        </p>
        <img src="static/window.png" style="width: 100%;">
        <h1>Contact</h1>
        <ul>
            <li>jamie@gilbertweb.site</li>
            <li>BluewolfJ124</li>
        </ul>
        <br>
        <br>
    </div>
</body>
</html>