<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/form.css">
    <link rel="icon" type="image/x-icon" href="/static/giraffeicon.ico">
    <title>Account</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>your logged in lol</h1>
    <h2>Account</h2>
    <p class="text">Username: {{ name    }}</p>
    <p class="text">Email: {{ email }}</p>
    <h2>Account Settings</h2>
    <a href="/resetpassword">Change Password</a>
    <br>
    <br>
    <br>
    <a href="/logout">Logout</a>
</body>
</html>