<div id="navbar">
    <h1>📖Assignment Tracker</h1>
    <a href="/login">Login</a>
    <a href="/">Home</a>
    <a href="/assignments">Assignments</a>
</div>
<script>
    text = " ___  ___      ___      _____   __   ___ ___  ___ ___ ___ _  _ \r\n  / __|/ _ \\    /_\\ \\    / /_\\ \\ / /  / __/ _ \\| _ \\ _ )_ _| \\| |\r\n | (_ | (_) |  / _ \\ \\/\\/ / _ \\ V /  | (_| (_) |   / _ \\| || .` |\r\n  \\___|\\___/  /_/ \\_\\_/\\_/_/ \\_\\_|    \\___\\___/|_|_\\___/___|_|\\_|\r\n"                                                                 
console.warn(text)
</script>