<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/static/giraffeicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/giraffeicon.ico">
    <link rel="stylesheet" href="static/form.css">
    <title>Reset Password</title>
</head>
<body>
    {% include 'navbar.html' %}
      <h1>Reset Password</h1>
      <form method = "POST" action="{{ url_for('resetpassword') }}">
          <input autocomplete="off" class="input" type="password" id = "current" name= "current" placeholder="Enter your current password">
          <br>
          <br>
          <br>
          <input autocomplete="off" class="input" type= "password" id= "password" name="password" minlength="6" placeholder="Enter your new password">
          <br>
          <br>
          <br>
          <input autocomplete="off" class="input" type= "password" id= "cpassword" name="cpassword" minlength="6" placeholder="Confirm your new password"> 
          <br>
          <br>
          <br>
          <input class="button-2" type= "submit" value = "submit">
      </form>
      <div class="center">
    </div>
    <p class="erorr">{{ error }}</p>
</body>
</html>